.App {
  /* font-family: sans-serif; */
  /* font-family: 'Poppins','sans'; */
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  
}


/* section {
  display: grid; 
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
} */

#home {
  margin-bottom: 30px;
  color: #ffffff;
  background-image: linear-gradient(rgba(10, 10, 10, 0.45), rgba(10, 10, 10, 0.45)),url('../public/nature-road-truck-field-wallpaper-preview.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 99vw;
  height: 100vh;
  display: flex;
  position: relative; 
  display:flex;
  align-self:flex-start;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (last value) as needed */
  z-index: -1; /* Place the overlay behind the content */
}


.parallax-container {
  background-image:linear-gradient(rgba(10, 10, 10, 0.45), rgba(10, 10, 10, 0.45)), url('../public/nature-road-truck-field-wallpaper-preview.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  width: 100vw;
  overflow: hidden;
}

.parallax-content {
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.tagline {
  color: #ffffff;
  font-size: 50px;
  /* font-weight: 500; */
  line-height: 62.5px;
}

.tagline p {
color: #ffffff;
text-align: left;
width: 80%;
}


#SandI {
  width: 99vw;
  height: 100vh;
  display:flex;
  background-color: #3b3b3c;
  /* background-color: #f8f8f5; */
  /* background-color: #2b76c3; */
  /* background-color: #accbe8; */
}

#projects,
#contact {
  color: #3b3b3c;
  background: #eaf2fa;
}

.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: calc(100% - 1.5rem);
  background-color: #ffffff;;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 #fff;
}

.nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.nav__container__actions {
  display: inline-flex;
  flex-flow: row nowrap;
  padding-left: 50px;
  flex: 1;
}


/* // links // */

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #D6E5E3;
  transition: color 0.3s;
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D6E5E3;
  min-width: 120px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #D6E5E3;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffffff;
}

.active {
  font-weight: bold;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}


#about {
  width: 99vw;
  height: 99vh;
  display:flex;
  }

/* Apply these styles to your HTML structure */
.fullPage {
  height: 98vh; /* Make it occupy the full viewport height */
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  gap: 16px; /* Add spacing between the elements */
  padding: 16px; 
  /* background-color: #ffffff; */
  /* background-color: #c9ddf0; */
  /* background-color: #accbe8; */
  /* background-color:#faf8ea; */
  /* background-color: #516067;  */
  /* background-color: #3a7590; */
  /* background-color:#f8f8f5; */
    
    }

.fullPageTop {
  flex: 1; /* Take up half of the available space */
  /* background-color: #ffffff;  */
  /* background-color: #accbe8; */
  /* background-color: #3a7590; */
  /* background-color: #1d1300; */
  /* background-color: #747474;  */
  background-color: #D6E5E3;
  /* background-color: #87CEFA; */
  /* background-color: #B9E2FC; */
  /* background-color: #5CA0CB; */
  
  /* background: linear-gradient(to bottom, #0e0e0e, #0585c1); */
  
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 50PX;
  margin-top: 10px;
  /* background-color: #c9ddf0; */
  border-radius: 16px; /* Add rounded corners for a smoother look */
  padding: 16px; /* Add padding inside the box */
}

.about-content h1{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  /* color: #2b76c3; */
  /* color: #294b5b; */
  color: #0585c1;
  /* color: #ffffff; */
  /* color: #000; */
  margin-top: 5px;
  margin-bottom: 2px;
 }

.about-content p{
 font-size: 16px;
 /* color: #f8f8f5; */
 /* color: #0585c1; */
 color: #000;
 /* color: #faf8ea; */
 font-weight: normal;
 text-align: justify;
 text-align-last: center;
 margin-top: 20px;
 padding-left: 3%;
 padding-right: 3%;
 
}

.fullPageBottom {
  flex: 1; 
  display: flex;
  gap: 16px; 
}

/* left */
.fullPageLeft {
  flex: 1; 
  /* background-color: #D6E5E3;  */
  background-color: #ffffff;
  border-radius: 8px; 
  padding: 16px; 
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  /* background-color: #faf8ea; */
  /* background-color: #b9babbc3; */
  /* background-color:  #c9ddf0; */
}

.carrier {
  display: flex;
  align-items: center;
  /* background-color: #ffffff; */
  background-color: #D6E5E3;
  /* background-color: #faf8ea; */
  /* background-color:#f8f8f5; */
  border-radius: 8px;
  padding: 2px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.left-image {
  max-width: 25%;
  max-height: 100%;
  margin-right: 16px;
}

.left-image img {
  max-width: 250%;
  max-height: 100%; 
  border-radius: 20px;

} 

.text-content {
  flex: 1; /* Takes up the remaining space */
}


.carrier h1 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  /* color: #0e0e0e; */
  /* color: #1976D2 ; */
  /* color: #516067; */
  color: #0585c1;
  margin-top: 0%;
  margin-bottom: 2px;
}

.carrier p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  padding-left: 3%;
  padding-right: 3%;
  /* color: #516067; */
  color: #0e0e0e;
  margin-top: 10px;
  
 
}

/* right */
.fullPageRight {
  flex: 1; 
  background-color: #D6E5E3;
  border-radius: 8px; /* Add rounded corners for a smoother look */
  padding: 16px; /* Add padding inside the box */
  display: flex; 
  align-items: center;
  margin-right: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  /* background-color: #faf8ea; */
  /* background-color:  #2b76c3; */
  /* background-color: #c9ddf0; */
}
 

.shipper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  /* background-color: #faf8ea; */
  /* background-color:#f8f8f5; */
  border-radius: 8px;
  padding: 2px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}


.leftr-image {
  max-width: 25%;
  max-height: 100%;
  margin-right: 16px;
}

.leftr-image img {
  max-width: 250%;
  max-height: 100%; 
  border-radius: 20px;

}


.text-content {
  flex: 1; 
}

.shipper h1{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  /* color: #2b76c3; */
  /* color: #3a7590; */
  color: #0585c1;
  /* color: #0e0e0e; */
  margin-top: 0%;
  margin-bottom: 2px;
  
 }


.shipper p{
 font-size: 16px;
 font-weight: normal;
 text-align: justify;
 padding-left: 3%;
 padding-right: 3%;
 /* color: #3a7590; */
 color: #0e0e0e;
 margin-top: 10px;

}




/* .left-image {
  max-width: 25%; 
  margin-right: 16px; 
} */

/* .carrier h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color:#2b76c3;
 }

.carrier p{
 font-size: 20px;
 font-weight: normal;
 text-align: justify;
 padding-left: 3%;
 padding-right: 3%;
 color: #000;
} */


/* Container styling */
.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 100vh;
  width: 100vw;
  gap: 8px; /* Add spacing between the boxes */
  flex-direction: column;
  /* background-color: #D6E5E3; */
  background-color: #ffffff;
}


/* Box styling */
.services{
  /* background-color:#768b9f; */
  /* background-color:  #4a5e71;  */
  background-color:#D6E5E3;
  /* background-color: #516067; */
  /* background: linear-gradient(to bottom, #0e0e0e, #f8f8f5); */
  /* background: linear-gradient(to bottom, #0e0e0e, #bfbfbd); */
  /* background: linear-gradient(to bottom, #0e0e0e, #0585c1); */
  /* background-color: #0e0e0e; */
  /* background-color: #3b3b3c; */
  padding: 20px;
  text-align: center;
  height: 100vh;
  width: 90vw;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-radius: 8px; /* Add rounded corners for a smoother look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  flex: 1; /* Each box takes equal vertical space */
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 40PX;
  margin-top: 30px;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.industries {
  /* background-color:  #4a5e71;  */
  /* background-color:#ffffff; */
  /* background-color:  #768b9f; */
  background-color: #D6E5E3;
  /* background-color: #3a7590; */
  /* background-color: #0e0e0e; */
  /* background: linear-gradient(to bottom, #0e0e0e, #0585c1); */
  padding: 20px;
  text-align: center;
  height: 100vh;
  width: 90vw;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-radius: 8px; /* Add rounded corners for a smoother look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  flex: 1; /* Each box takes equal vertical space */
  /* margin-left: 100px;
  margin-right: 100px; */
  margin-bottom: 40PX;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.services h1,
.industries h1{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  /* color: #ffffff; */
  color: #0585c1;
  /* color: #000; */
  margin-top: 0;
  margin-bottom: 5px;
}

.services p,
.industries p{
 font-size: 20px;
 font-weight: normal;
 text-align: justify;
 text-align-last: center;
 padding-left: 5%;
 padding-right: 5%;
 color: #000;
 margin-top: 10px;
 /* color: #0585c1; */
}

/* Button styling (adjust as needed) */
.cta-button {
  /* background-color:#007bff ;  */
  /* background-color: #3a7590; */
  /* background: #5cbdf1;*/
  color:  #ffffff ; 
  /* background-color: #0e0e0e; */
  background-color: #0585c1;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cta-button-L {
  /* background-color:#007bff ;  */
  /* background-color: #fff; */
  background-color: #0585c1;
  color:  #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add more specific styling for h2 and p if needed */
.services h2,
.industries h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.services p,
.industries p {
  font-size: 16px;
  text-align: justify;
  text-align-last: center;
}


#testimonials{
  margin-bottom: 0px ;
  /* background-color: #f8f8f5; */
  background-color: #ffffff;
}

.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}


.carousel .slide {
  /* background: #fff !important; */
  /* color: #3a7590; */
  height: 100%;
  /* background: #f8f8f5; */
  background: #D6E5E3;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #D6E5E3;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #f8f8f5;
  height: 286px;
  
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #000;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  /* color: #fff; */
  color: #000;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #000;
  font-size: 15px;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #000;
  font-size: 26px;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #000;
  font-size: 26px;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #0e0e0e !important;
  outline: 0;
}
/* background: #f8f8f5; */
.carousel.carousel-slider .control-arrow {
  background: #0e0e0e !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #ffffff;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}

.testiContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align the content vertically */
  gap: 20px; /* Add spacing between the two divs */
  padding: 20px; /* Add padding around the content */
  /* background-color: #ffffff;  */
  background-color: #D6E5E3;
  border-radius: 8px; /* Add rounded corners for a smoother look */
  margin-bottom: 0;
}

.testiUpperhalf {
  background-color: #D6E5E3; /* White background color for the upper half */
  padding: 20px; /* Add padding inside the upper half */
  border-radius: 8px; /* Add rounded corners for a smoother look */
}

.testiLowerhalf {
  background-color: #0585c1; 
  color: #fff; /* White text */
  display: flex;
  justify-content: space-between; /* To evenly distribute items */
  padding: 20px; /* Add some padding to improve spacing */
  width: 100%; /* Occupy the whole page width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.countUpItem {
  text-align: center; /* Center-align text within each item */
  flex: 1; /* Equal width for all items, dividing the available space equally */
}

h2 {
  margin: 0; /* Remove default margin for the heading */
  font-size: 24px; /* Adjust font size as needed */
}


/* Additional styling as needed */




h2 {
  font-size: 18px; /* Adjust the heading font size */
  margin-bottom: 10px; /* Adjust the spacing between heading and CountUp */
}

#contact{
  height: 50%;
  margin-top: 0px;
  background-color: #fff;
    /* display: flex; /* Use flexbox to control the spacing */
  /*justify-content: space-around; Space the items evenly horizontally */
}

.questiontag{
  padding-right: 20%;
}


