.App {
  /* font-family: sans-serif; */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  
}


section {
  display: grid; 
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}

#home {
  margin-top: -80px;
  color: #fff; /* Text color */
  background-image: linear-gradient(rgba(10, 10, 10, 0.45), rgba(10, 10, 10, 0.45)), url('../public/road-bridge-blur-port-wallpaper-preview.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  
  /* margin-r: 70%; */
  display:flex;
  align-self:flex-start;
  /* text-align: left; */
}

.tagline {
  float: left;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 62.5px;
  letter-spacing: -0.5px;
  margin-top: 40%;


}

.tagline p {
  box-sizing: border-box;
  margin-right: 65%;
  width: 80%;
  height: 80%;
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 0;
  text-align: left;
}

.tagline button {
  box-sizing: border-box;
  margin-right: 65%;
  /* margin-left: 10%; */
  text-align: center;
}


#SandI {
  width: 100vw;
  height: 100vh;
  display:flex;
  /* background-color: #c9ddf0; */
  background-color: #ffffff;
}

#projects,
#contact {
  color: #3b3b3c;
  background: #eaf2fa;
}

.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: calc(100% - 1.5rem);
  background-color: #d4d4d4;;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

.nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.nav__container__actions {
  display: inline-flex;
  flex-flow: row nowrap;
  padding-left: 50px;
  flex: 1;
}


/* // links // */

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff9900;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 120px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #444;
}

.active {
  font-weight: bold;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}


#about {
  width: 100vw;
  height: 100vh;
  display:flex;
  }

/* Apply these styles to your HTML structure */
.fullPage {
  height: 98vh; /* Make it occupy the full viewport height */
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  gap: 16px; /* Add spacing between the elements */
  padding: 16px; /* Add padding to the container */
  /* background-color: #ffffff; */
  /* background-color: #c9ddf0; */
  background-color:#2b76c3;
}

.fullPageTop {
  flex: 1; /* Take up half of the available space */
  background-color: #ffffff; 
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 20PX;
  margin-top: 10px;
  /* background-color: #c9ddf0; */
  border-radius: 16px; /* Add rounded corners for a smoother look */
  padding: 16px; /* Add padding inside the box */
}

.about-content h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #2b76c3;

 }

.about-content p{
 font-size: 20px;
 font-weight: normal;
 text-align: justify;
 padding-left: 3%;
 padding-right: 3%;
 
}

.fullPageBottom {
  flex: 1; 
  display: flex;
  gap: 16px; 
}

/* left */
.fullPageLeft {
  flex: 1; 
  background-color: #ffffff; 
  border-radius: 8px; 
  padding: 16px; 
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  /* background-color: #b9babbc3; */
  /* background-color:  #c9ddf0; */
}

.carrier {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 3px;
}

.left-image {
  max-width: 25%;
  max-height: 100%;
  margin-right: 16px;
}

.left-image img {
  max-width: 250%;
  max-height: 100%; 

} 

.text-content {
  flex: 1; /* Takes up the remaining space */
}


.carrier h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #2b76c3;
  margin-top: 0%;
  margin-bottom: 2px;
}

.carrier p {
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
  padding-left: 3%;
  padding-right: 3%;
  color: #000;
}

/* right */
.fullPageRight {
  flex: 1; 
  background-color: #ffffff; 
  border-radius: 8px; /* Add rounded corners for a smoother look */
  padding: 16px; /* Add padding inside the box */
  display: flex; 
  align-items: center;
  margin-right: 40px;
  margin-bottom: 20px;
  /* background-color:  #2b76c3; */
  /* background-color: #c9ddf0; */
}
 

.shipper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 3px;
}


.leftr-image {
  max-width: 25%;
  max-height: 100%;
  margin-right: 50px;
}

.leftr-image img {
  max-width: 250%;
  max-height: 100%; 

}


.text-content {
  flex: 1; 
}

.shipper h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #2b76c3;
  margin-top: 0%;
  margin-bottom: 2px;
 }


.shipper p{
 font-size: 20px;
 font-weight: normal;
 text-align: justify;
 padding-left: 3%;
 padding-right: 3%;
 color:#000;
}




/* .left-image {
  max-width: 25%; 
  margin-right: 16px; 
} */

/* .carrier h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color:#2b76c3;
 }

.carrier p{
 font-size: 20px;
 font-weight: normal;
 text-align: justify;
 padding-left: 3%;
 padding-right: 3%;
 color: #000;
} */


/* Container styling */
.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 100vh;
  width: 100vw;
  gap: 20px; /* Add spacing between the boxes */
  flex-direction: column;
  /* background-color: #c9ddf0; */
  background-color: ffffff;
}


/* Box styling */
.services{
  background-color:  #c9ddf0; 
  /* background-color:#ffffff; */
  padding: 20px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-radius: 8px; /* Add rounded corners for a smoother look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  flex: 1; /* Each box takes equal vertical space */
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 10PX;
  margin-top: 30px;
}

.industries {
  background-color:  #c9ddf0; 
  /* background-color:#ffffff; */
  padding: 20px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-radius: 8px; /* Add rounded corners for a smoother look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  flex: 1; /* Each box takes equal vertical space */
  /* margin-left: 100px;
  margin-right: 100px; */
  
}

.services h1,
.industries h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: rgb(11, 11, 11);
}

.services p,
.industries p{
  font-size: 20px;
 font-weight: normal;
 text-align: justify;
 padding-left: 5%;
 padding-right: 5%;
 color: #ffffff;
}

/* Button styling (adjust as needed) */
.cta-button {
  background-color:#007bff ; /* Blue button color */
  color:  #fff ;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add more specific styling for h2 and p if needed */
.services h2,
.industries h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.services p,
.industries p {
  font-size: 16px;
}


.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fafafa !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}

.testiContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align the content vertically */
  gap: 20px; /* Add spacing between the two divs */
  padding: 20px; /* Add padding around the content */
  background-color: #f0f0f0; /* Light gray background color */
  border-radius: 8px; /* Add rounded corners for a smoother look */
}

.testiUpperhalf {
  background-color: #ffffff; /* White background color for the upper half */
  padding: 20px; /* Add padding inside the upper half */
  border-radius: 8px; /* Add rounded corners for a smoother look */
}

.testiLowerhalf {
  background-color: #2b76c3; /* White background color for the lower half */
  padding: 20px; /* Add padding inside the lower half */
  border-radius: 8px; /* Add rounded corners for a smoother look */
}

.testiLowerhalf {
  display: flex; /* Display items side by side */
  justify-content: space-around; /* Add space between items */
}

.testiLowerhalf {
  display: flex; /* Display items side by side horizontally */
  justify-content: space-between; /* Add space between items */
  width: 100%; /* Make the container span the full width of the page */
}

.countUpItem {
  flex: 1; /* Distribute available space equally among items */
  text-align: center; /* Center the content horizontally */
}

h2 {
  font-size: 18px; /* Adjust the heading font size */
  margin-bottom: 10px; /* Adjust the spacing between heading and CountUp */
}

#contact{
  height: 50%;
  /* display: flex; /* Use flexbox to control the spacing */
  /*justify-content: space-around; Space the items evenly horizontally */
}

.questiontag{
  padding-right: 20%;
}

.tagline {
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.tagline li {
  margin-bottom: 10px; /* Adjust the spacing between list items */
  display: block;

}
