.App {
  font-family: sans-serif;
  text-align: center;
  
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}
#industries {
  margin-top: -80px;
  margin-bottom: 30px;
  color: #ffffff;
  background-image: url('../public/warehouse-truck.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative; /* Add relative positioning to create overlay */
}


/* Create a semi-transparent overlay */
#industries::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (last value) as needed */
  z-index: -1; /* Place the overlay behind the content */
}

#industries h1{
margin-top: 0;
}

.sets-us-apart-container{
  margin-bottom: 30px;
}


.industry-container {
  display: flex;
  justify-content: space-between;
}

.industry-box {
  flex-basis: 48%; /* Adjust the width as needed */
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f0f0f0;
}

.industry-img {
  max-width: 100%;
  height: auto;
}

/* .image-container {
  position: relative;
  display: inline-block;
  margin: 10px; 
} */

.attribution {
  position: absolute;
  bottom: 5px; /* Adjust bottom position as needed */
  right: 5px; /* Adjust right position as needed */
  background-color: rgba(0, 0, 0, 0.7); /* Background color for attribution */
  color: #ffffff; /* Text color for attribution */
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 2px;
  z-index: 1; /* Ensure the attribution text appears above the image */
}



.industry-description {
  margin-top: 10px;
} 

.parallax-container {
  background-image: url('../public/warehouse-truck.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}

.parallax-content {
  height: 100%; /* Match the height of the container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff; /* Text color on top of the background image */
}

/* Add more styles to your content as needed */
