.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  max-height: 50px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

.dropdown {
  position: relative;
}

.company-link {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%; /* Position the dropdown below the "Company" link */
}

.company-link:hover + .dropdown-content,
.dropdown-content:hover {
  display: block;
}
