.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-logo img {
  width: 100px; 
  margin-left: 100px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .navbar-links {
    display: none;
  }
}


.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #413c3c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.company-link:hover + .dropdown-content,
.company-link:focus + .dropdown-content {
  display: block;
}


.company-link {
  cursor: pointer;
  
}




