.navbar {
  /* background-color: #f8f8f5; */
  /* background-color: #ffffff; */
  /* background-color: #B9BBCB; */
  /* background-color: #D6D6D6;
  background-color: #B8B8B8; */
  background-color: #CED4DA;
  color: #CED4DA;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  max-height: 50px;
  padding-left: 100px;
  transform: scale(1.6);
}



.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  max-width: 100%; 
}

.navbar-links a {
  text-decoration: none;
  color: #0e0e0e;
  margin-right: 30px;
  size: 40px;
  padding-right: 50px;
}

.get-quote-button {
 margin-left: 80px;
  
}

/* .dropdown {
  position: relative;
}

.company-link {
  cursor: pointer;
} */

.dropdown-content {
  position: absolute;
  background-color: #CED4DA;
  width: 200px;
}

.company-link:hover + .dropdown-content,
.dropdown-content:hover {
  display: block;
  background-color: #CED4DA;
}
