.App {
  font-family: sans-serif;
  text-align: center;
  
}

#services {
  margin-top: -80px;
  margin-bottom: 30px;
  color: #0e0e0e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url('../public/nature-road-truck-field-wallpaper-preview.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative; /* Add relative positioning to create overlay */
  display:flex;
  align-self:flex-start;
}

#services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (last value) as needed */
  z-index: -1; /* Place the overlay behind the content */
}

.parallax-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url('../public/road-bridge-blur-port-wallpaper-preview.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; /* Adjust the height as needed */
  width: 99vw;
  overflow: hidden;
}

.parallax-content {
  height: 100%; /* Match the height of the container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff; /* Text color on top of the background image */
}

.tagline {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 62.5px;
  text-align: left;
  margin-top: 10%; 
  padding: 0;
  width: 90%;
}

.tagline p {
color: #ffffff;
text-align: left;
/* width: 70%; */
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}
/* #services {
  margin-top: -80px;
  margin-bottom: 30px ;
  background-image: url('../public/1659565076144.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display:flex
  
}



/* CSS */
.list-services {
  /* Your other styles for the section */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  height: 100vh; /* Set section height to 100% of the viewport height */
}

.scrollable-container {
  width: 90%; /* Set the width to 100% */
  height: 100%; /* Set the height to 100% */
  /*overflow: auto; /* Add scrollbars if needed */
  border: 1px solid #ccc; /* Add a border for styling */
  padding: 10px; /* Add padding for spacing */
}

/* .service {
  margin-bottom: 10px;
  padding: 8px; /* Add padding around each service */
  /* border: 1px solid #ddd;  */
  /* background-color: #f9f9f9;   */

/* Icons */
  .card-image {
    flex: 0; 
    margin-right: 20px; 
    align-self: flex-start; 
  }

  /* .card-image {
    flex: 0; 
    margin-right: 20px;
    align-self: flex-start; 
  } */
  
  
  /* .card-image img {
    width: 5px;
    height: 5px; 
  } */
  



/* Style the image container */
.image-container {
  /* flex: 1 1 10%;  */
  margin-right: 10px; /* Add spacing between image and text */
  align-self: flex-start; 
  width: 25%;
  height: 55%;
}
.image-container {
  width: 10%; /* Adjust the image container width to your desired size */
}

.service-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards */
  padding: 20px; /* Add padding to create a gap from the screen */
}

.service-card {
  flex: 1 1 calc(100% - 20px); /* Adjust flex properties to fill the row and consider the gap */
  display: flex;
  border: 1px solid #ccc; /* Add border for a box-like appearance */
  transition: transform 0.3s ease-in-out; /* Add transition for a smooth hover effect */
}

.service-card:hover {
  transform: scale(1.05); /* Scale the card on hover for a 3D effect */
}

.card-content {
  /* display: flex;
  flex: 1; */
  padding: 10px;
  width: 90%;
}


.card-image {
  width: '5%';
  height: '5%';
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  margin: 0 0 10px;
}

.description {
  white-space: pre-line;
}


p {
  margin: 0 0 10px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF; /* Adjust button styles as needed */
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Adjust button hover color as needed */
}

button:active {
  background-color: #003366; /* Adjust button active color as needed */
}

